<!DOCTYPE html>
<html>
<body>
<table attribut border="1">
   		<tr>
        	<td>body</td>
            <td>...</td>
        </tr>
        <tr>
        	<td>body</td>
            <td>a</td>
            <td>href</td>
        </tr>

        <tr>
        	<td>body</td>
            <td>div</td>
        </tr>
        <tr>
        	<td>body</td>
            <td>h1</td>
        </tr>
        <tr>
        	<td>body</td>
            <td>header</td>
        </tr>
         <tr>
        	<td>body</td>
            <td>nav</td>
        </tr>
         <tr>
        	<td>body</td>
            <td>ol</td>
        </tr>
        <tr>
        	<td>body</td>
            <td>p</td>
        </tr>
        <tr>
        	<td>head</td>
            <td>title</td>
        </tr>
        <tr>
        	<td>body</td>
            <td>ul</td>
        </tr>
        <tr>
        	<td>head</td>
            <td>...</td>
        </tr>
    </table>
<a href="{{ url_for('TP1') }}">Retour à la page principale</a>

</body>
</html>

