<!DOCTYPE html>
<html>
<body>

<h1>Les differentes balise HTML</h1>
	<section>
	<h2 title="head">head</h2>
	<p>La balise head concerne tout ce qui est caractère de la page,metadonné</p>
	<h2 title="header">header</h2>
	<p>Balise pour regrouper tout les éléments d'introduction du document HTML</p>
    <h2 title="tilte">h1</h2>
    <p>Balise pour afficher un élément sous forme de titre</p>
    <h2 title="title">title</h2>
    <p>Title n'est utilisable que dans la section head et cela définit le titre du document<p>
    <h2 tilte="title">body</h2>
    <p>Parti html qui apparait sur la machine client</p>
    <h2 title="article"></h2>
    <p></p>
    <h2 class="title">p</h2>
    <p>Balise qui sert a afficher du texte</p>
    <h2 class="title">div</h2>
    <p>Balise neutre</p>
    <h2 class="title">a</h2>
	<p>Balise pour les liens url, sert a la navigation entre page web</p>  
    <h2 class="title">ul</h2>
    <p>Pour afficher des listes d'elements</p>
    <h2 class="title">ol</h2>
    <p>Pour afficher des listes d'elements de façon ordonnés</p>
    <h2 title="article">nav</h2>
    <p>Nav est une balise servant a créer une liste de lien</p>
    
    <a href="{{ url_for('TP1') }}">Retour à la page principale</a>
</body>
</html>

